@media screen and (max-width: 720px){
}

@font-face {
    font-family: 'Gothic A1';
    src: url(assets/GothicA1-ExtraLight.ttf);
}

body {
    margin-left: 3rem;
    background-color: rgb(242, 242, 242);
    font-family: 'Gothic A1', Fallback, sans-serif;
    font-size: 2em;
    color: white;
}
